* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ELEMENTS */

body {
  background-color: #0d1011;
  color: white;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

input {
  border: 4px solid transparent;
  transition: all 200ms;
  color: black;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  transition: all 300ms ease;
  font-size: 16px;
  outline: none;
  margin: 0 16px;
}

input:hover,
input:focus{
  border-color: gold;
}


button {
  padding: 4px;
  transition: all 200ms;
  /* color: white; */
  background-color: #0d1011;
  border-radius: 24px;
  border: 1px solid lightgrey;
  margin: 0 8px;
  padding: 10px 14px;
  font-weight: 600;
}

button:hover {
  filter: brightness(85%);
}

/* GEN CLASSES */

.skeleton{
  background-color: gray;
}

.text_emphasis{
  color: gold;
}

.cursor {
  cursor: pointer;
}

.no_cursor {
  cursor: not-allowed;
}

.container{
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0;
  right: 0;
  background-color: gold;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.click:hover {
  cursor: pointer;
}

.dark__button {
  color: white;
  transition: all 200ms ease;
}

.dark__button:hover{
  background-color: gold;
  color: black;
}

.greyed_out{
  opacity: 0.5;
}

.hover_effect{
  transition: all 100ms ease;
}

.hover_effect:hover{
  color: gold;
  border-color: gold;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0 20px;
}

.nav__logo--container {
  display: flex;
  align-items: center;
}

.nav__logo--container:hover .nav__logo--name {
  color: gold;
}

.nav__logo--figure {
  width: 50px;
  height: 50px;
}

.logo__img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 9999px;
}

.nav__logo--name {
  margin-left: 20px;
  transition: all 200ms ease;
  color: white;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  color: white;
  transition: all 200ms ease;
}

.nav__link:hover{
  color: gold;
}

.contact__button {
  padding: 0 12px;
}

.menu__btn{
  color: white;
  border: 2px solid lightgrey;
}

.menu__btn--open {
  display: none;
}

.menu__close--btn {
  position: absolute;
  right: 4px;
  top: 20px;
}

.menu__backdrop {
  position: absolute;
  top: 6px;
  right: 12px;
  left: 16px;
  height: 200px;
  background-color: black;
  border: 4px solid gold;
  z-index: 100;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  animation: bounce-in backwards;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  display: flex;
}

.menu__links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu__link {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 12px;
  color: white;
}

@keyframes bounce-in {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  50% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.menu--open .menu__backdrop {
  display: flex;
}

/* START SEARCH */

#start_search {
  text-align: center;
}

.slogan {
  margin-bottom: 20px;
}

#user-input {
  outline: none;
  border: none;
}

#search__button {
  position: absolute;
  top: 8px;
  right: 12px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: white;
  transition: all 200ms;
  overflow: hidden;
}

#search__button:hover{
  background-color: gold;
}

#search__button:active{
  scale: 0.90;
}

.search__icon{
  color: black;
}

.loading__animation{
  animation: rotate 1s infinite linear;
  font-size: 16px;
  border-radius: 9999px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate (360deg)
  }
}

/* SORTED SEARCH */

#heading {
  display: flex;
  flex-direction: column;
}

.title__container{
  text-align: center;
}

.title {
  margin-top: 40px;
  background: linear-gradient(to right, gold, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: center;
  padding: 0 6px;
}

.sort__search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.movie__title {
  margin-top: 10px;
  width: 70%;
  margin-bottom: 4px;
}

/* MOVIE DISPLAY */

#movie-display {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

.home__background{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

#movie-display--sorted {
  margin-top: 60px;
}

.display__heading {
  margin-bottom: 40px;
  text-align: center;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.movie {
  width: calc(100% / 3);
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.movie__poster--wrapper {
  width: 200px;
  height: 300px;
  margin-bottom: 8px;
  cursor: pointer;

}

.movie__poster {
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.movie__poster:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 60px 0 rgb(255, 215, 0, 0.48);
}

.movie__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
}

/* LOADING */

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
}

.fa-spinner {
  animation: rotate 1200ms infinite ease;
  display: black !important;
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

/* MOVIE PAGE */

#movie_page {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 64px;
  padding: 24px 40px;
}

.main__movie--wrapper {
  width: 300px;
  height: 500px;
}

.main__movie--info {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  color: white;
}

.main__movie--title {
  font-size: 40px;
}

.main__movie--subinfo {
  display: flex;
}

.main__movie--description {
  font-size: 20px;
  line-height: 1.3;
}

.main__button--icon {
  margin-right: 12px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre__button{
  transition: all 200ms ease;
  color: white;
}

.genre__button:hover{
  background-color: gold;
  color: black;
}

.showtime__icon {
  transform: rotate(135deg);
}

.watchlist__icon{
  color: white;
}

.main__movie--button {
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 52px;
  margin: 0;
  color: black;
}

.showtime__button {
  background-color: rgb(221, 188, 4);
}

.movie__button--info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.watchlist__button--info{
  color: white;
}

.main__button--subtext{
  opacity: 0.7;
}

.search__message{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.page__arrows{
  position: absolute;
  display: flex;
  right: 25%;
  gap: 16px;
}

.results__background--figure{
  max-width: 1200px;
  width: 50%;
  height: 2px;
  margin: 0 auto;
  margin-top: 80px;
}

.movie__info--skeleton{
  width: 46%;
}

.movie__title--skeleton{
  margin-top: 10px;
  width: 100%;
  height: 12px;
  margin-bottom: 12px;
}

.movie__year--skeleton{
  margin: 0 auto;
  width: 60%;
  height: 12px;
}

/* RESPONSIVENESS */

@keyframes rotate {
  0% {
    transform: (0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .movie {
    width: 50%;
  }
  #movie_page{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .genre__button{
    margin-bottom: 12px;
  }
  .main__movie--info{
    width: 80%;
  }
  .main__movie--subinfo{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #movie-display{
    margin-top: 80px;
  }
  .page__arrows{
    top: 50px;
    left: 44.25%;
  }
}

@media (max-width: 525px) {
  .row {
    padding: 0 12px;
  }
  .nav__link,
  .contact__button {
    display: none;
  }
  .movie {
    width: 100%;
  }
  .menu__btn--open {
    display: flex;
  }
}
